<h2 class="heading", style="text-align: center; margin-top: 20px"> Bloggers </h2>

<% @users.each do |user| %>
  <div class="container", style="margin-top: 30px">
    <div class="card">
      <div class="card-header">
        <%= user.username %>
      </div>
      <div class="card-body">
        <div style="text-align: center">
          <img src="https://picsum.photos/200" style="position:relative; float: left; margin-right: 20px" />
        </div>

        <p class="card-text"> <i><%= pluralize(user.articles.count, "article") %> </i>  </p>
        <!--        <a href="#" class="btn btn-primary">See more</a>-->
        <%= link_to "View", user_path(user), method: :show, class: "btn btn-outline-success" %>
        <% if logged_in? && user == current_user %>
          <%= link_to "Edit", edit_user_path(user), method: :edit, class: "btn btn-outline-secondary" %>
          <%#= link_to "Delete", user_path(user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>