<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
    <div class="jumbotron">
        <h1>Articles Blog</h1>
        <p>Welcome to the Article Blog </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    </div>

    <h1> Hello world ! </h1>

    <br>
    <%= link_to "Articles page", articles_path %>
    <br><br>
    <%= link_to "About page", about_path %>
</body>
</html>