<% flash.each do |name, msg| %>

  <% if name == "alert" %>
    <div class="class alert alert-danger" role="alert" >
    <%= msg %>
    </div>
  <% elsif name == "notice" %>
    <div class="class alert alert-success" role="alert" >
      <%= msg %>
    </div>
  <% end %>

<% end %>
